<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Ssquare_Restrict::ssquare_menu" title="SSQUARE Menu" sortOrder="10">
                    <resource id="Ssquare_Restrict::page_restrictions" title="Page Restrictions Configuration" sortOrder="10"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
