<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <!-- Define the new tab -->
        <tab id="ssquare_settings" translate="label" sortOrder="100">
            <label>Ssquare Settings</label>
        </tab>

        <!-- Define the new section -->
        <section id="page_restrictions_section" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Page Restrictions</label>
            <tab>ssquare_settings</tab>
            <resource>Ssquare_Restrict::page_restrictions</resource>
            
            <!-- Group of configurations -->
            <group id="page_restrictions_group" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Page Restrictions Settings</label>
                
                <!-- Restrict Category Page -->
                <field id="restrict_category_page" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Restrict Category Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <!-- Restrict Product Page -->
                <field id="restrict_product_page" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Restrict Product Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <!-- Restrict Checkout Page -->
                <field id="restrict_checkout_page" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Restrict Checkout Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <!-- Restrict Cart Page -->
                <field id="restrict_cart_page" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Restrict Cart Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
